<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Detail</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">

    <link th:href="@{~/images/favicon.ico}" rel="shortcut icon"/>
    <link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/app.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>

    <style>


        .img_user {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        .info-pair {
            margin-bottom: 10px;
        }

        .info-label {
            font-weight: bold;
            margin-right: 10px;
        }
        .size{
            font-size: 17px;
        }
    </style>
</head>

<body class="loading"
      data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'
      th:with="priority=${T(com.xuanthongn.spring_quanlycongviec.common.TaskPriority)}, state = ${T(com.xuanthongn.spring_quanlycongviec.common.TaskState)}">
<div class="wrapper">
    <div th:replace="shared/_left-side :: leftside-menu"></div>
    <div class="content-page">
        <div class="content">
            <div th:replace="shared/_top-bar :: topbar"></div>
            <h2 class="mb-4 text-center mt-3 text-dark">Hồ sơ người dùng</h2>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img class="img_user" th:src="@{/images/users/__${user.avatar}__}" alt="User Avatar"/>
                            <h4 class="mt-3" th:text="${user.name}"></h4>
                        </div>
                        <div class="col-md-9 mt-4 row size">
                            <div class="col-md-6">
                                <div class="info-pair">
                                    <span class="info-label">Mã nhân viên:</span>
                                    <span th:text="${user.id}"></span>
                                </div>

                                <div class="info-pair">
                                    <span class="info-label">Ngày sinh:</span>
                                    <span th:text="${user.birthday}"></span>
                                </div>

                                <div class="info-pair">
                                    <span class="info-label">Tên tài khoản:</span>
                                    <span th:text="${user.name}"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-pair">
                                    <span class="info-label">Tên tài khoản:</span>
                                    <span th:text="${user.username}"></span>
                                </div>

                                <div class="info-pair d-none">
                                    <span class="info-label">Mật khẩu:</span>
                                    <span th:text="${user.password}"></span>
                                </div>

                                <div class="info-pair">
                                    <span class="info-label">Quyền hạn:</span>
                                    <span th:text="${user.roles}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button id="backToListButton" class="btn btn-primary">Trở lại danh sách</button>

            </div>
        </div>
        <!-- Footer Start -->
        <footer th:replace="shared/_footer :: footer"></footer>
        <div class="rightbar-overlay"></div>
        <!-- end Footer -->
    </div>
</div>
<div th:replace="shared/_script :: script"></div>
<script th:src="@{/js/app/task.js}"></script>
</body>
<script>
    // Lấy tham chiếu đến nút "Trở lại danh sách" bằng ID
    const backButton = document.getElementById("backToListButton");

    // Gán sự kiện click cho nút
    backButton.addEventListener("click", function () {
        // Điều hướng người dùng đến trang danh sách (thay đổi đường dẫn tùy thuộc vào trang bạn muốn)
        window.history.back();
    });
</script>

</html>