<!DOCTYPE html>
<html lang="en">
<head th:replace="shared/_head :: _head">
</head>

<body class="loading"
      data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'
      th:with="priority=${T(com.xuanthongn.spring_quanlycongviec.common.TaskPriority)}, state = ${T(com.xuanthongn.spring_quanlycongviec.common.TaskState)}">
<!-- Begin page -->
<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="shared/_left-side :: leftside-menu">
    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">
            <!-- Topbar Start -->
            <div th:replace="shared/_top-bar :: topbar"></div>
            <!-- end Topbar -->

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tasks</a></li>
                                    <li class="breadcrumb-item active">Quản lý công việc</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Quản lý Công việc
                                <a href="#" data-bs-toggle="modal" data-bs-target="#add-new-task-modal"
                                   class="btn btn-success btn-sm ms-3">Thêm mới</a></h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12" id="load-board">
<!--                    board with columns will rendered here-->
                    </div> <!-- end col -->
                </div>
                <!-- end row-->

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <footer th:replace="shared/_footer :: footer"></footer>
        <div class="rightbar-overlay"></div>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->


<!-- Right Sidebar -->
<div th:replace="shared/_right-side :: rightside-menu">
</div>
<!-- /End-bar -->
<!--  Add new task modal -->
<div th:replace="_task-create :: _task-create"></div>
<!-- /.modal -->


<!--  Task details modal -->
<div class="modal fade task-modal-content" id="task-detail-modal" tabindex="-1" role="dialog"
     aria-labelledby="TaskDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <!--    Task detail here-->

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--  Task update modal -->
<div class="modal fade task-modal-content" id="task-update-modal" tabindex="-1" role="dialog"
     aria-labelledby="TaskUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <!--    Task detail here-->

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div th:replace="shared/_script :: script"></div>
<script th:src="@{/js/app/task.js}"></script>
</body>
</html>
