<!DOCTYPE html>
<html lang="en">
<head th:replace="shared/_head :: _head">
</head>

<body class="loading"
      data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'
      th:with="priority=${T(com.xuanthongn.spring_quanlycongviec.common.TaskPriority)}, state = ${T(com.xuanthongn.spring_quanlycongviec.common.TaskState)}">
<!-- Begin page -->
<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="shared/_left-side :: leftside-menu">
    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">
            <!-- Topbar Start -->
            <div th:replace="shared/_top-bar :: topbar"></div>
            <!-- end Topbar -->

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tasks</a></li>
                                    <li class="breadcrumb-item active">Kanban Board</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Quản lý Công việc
                                <a href="#" data-bs-toggle="modal" data-bs-target="#add-new-task-modal"
                                   class="btn btn-success btn-sm ms-3">Add New</a></h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="board">
                            <div class="tasks" data-plugin="dragula"
                                 data-containers='["task-list-one", "task-list-two", "task-list-three", "task-list-four", "task-list-five"]'>
                                <h5 class="mt-0 task-header">TO DO</h5>

                                <div id="task-list-one" class="task-list-items">

                                    <!-- Task Item -->
                                    <div th:data-task-id="${task.id}" th:each="task: ${tasks}"
                                         th:if="${task.state == state.TODO}" class="card mb-0">
                                        <div class="card-body p-3">
                                            <!--                                                    <small class="float-end text-muted" th:text="${task.dueDate.toString()}"></small>-->
                                            <small class="float-end text-muted"
                                                   th:text="${#dates.format(task.dueDate, 'HH:mm dd/MM/yyyy')}"></small>
                                            <span class="badge"
                                                  th:classappend="${task.priority == priority.LOW} ? 'bg-success' : (${task.priority == priority.MEDIUM} ? 'bg-warning' : 'bg-danger')"
                                                  th:text="${task.priority.getDisplayName()}"></span>
                                            <h5 class="mt-2 mb-2">
                                                <a href="#"
                                                   class="text-body" th:text="${task.title}"></a>
                                            </h5>

                                            <p class="mb-0">
                                                        <span class="pe-2 text-nowrap mb-2 d-inline-block">
                                                            <i class="mdi mdi-briefcase-outline text-muted"></i>
                                                            iOS
                                                        </span>
                                                <span class="text-nowrap mb-2 d-inline-block">
                                                            <i class="mdi mdi-comment-multiple-outline text-muted"></i>
                                                            <b>74</b> Comments
                                                        </span>
                                            </p>
                                            <ul class="list-group list-group-flush" th:if="${task.subtasks.size()>0}">
                                                <li class="list-group-item p-1" th:with="percent=${(task.isDone*100)/(task.subtasks.size())}">
                                                    <!-- project progress-->
                                                    <p class="mb-2 fw-bold">Tiến độ <span class="float-end" th:text="${percent+'%'}">100%</span></p>
                                                    <div class="progress progress-sm" bis_skin_checked="1">
                                                        <div class="progress-bar" role="progressbar" th:aria-valuenow="${percent}" aria-valuemin="0" aria-valuemax="100" th:style="${'width:'+percent+'%'}" bis_skin_checked="1">
                                                        </div><!-- /.progress-bar -->
                                                    </div><!-- /.progress -->
                                                </li>
                                            </ul>

                                            <div class="dropdown float-end">
                                                <a href="#" class="dropdown-toggle text-muted arrow-none"
                                                   data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="mdi mdi-dots-vertical font-18"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-pencil me-1"></i>Edit</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-delete me-1"></i>Delete</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-plus-circle-outline me-1"></i>Add People</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-exit-to-app me-1"></i>Leave</a>
                                                </div>
                                            </div>

                                            <!--                                                        <span class="align-middle" th:each="person: ${task.users}" th:text="${person.name}"></span>-->
                                            </p>
                                            <p class="mb-0">
                                                <img th:each="person: ${task.users}"
                                                     th:src="@{/images/users/__${person.avatar}__}"
                                                     th:title="${person.name}"
                                                     th:alt="${person.avatar}" class="avatar-xs rounded-circle me-1">
                                        </div> <!-- end card-body -->
                                    </div>

                                </div> <!-- end company-list-1-->
                            </div>

                            <div class="tasks">
                                <h5 class="mt-0 task-header text-uppercase">In Progress (2)</h5>

                                <div id="task-list-two" class="task-list-items">

                                    <!-- Task Item -->
                                    <div th:data-task-id="${task.id}" th:each="task: ${tasks}"
                                         th:if="${task.state == state.IN_PROGRESS}"
                                         class="card mb-0">
                                        <div class="card-body p-3">
                                            <small class="float-end text-muted"
                                                   th:text="${#dates.format(task.dueDate, 'HH:mm dd/MM/yyyy')}"></small>
                                            <span class="badge"
                                                  th:classappend="${task.priority == priority.LOW} ? 'bg-success' : (${task.priority == priority.MEDIUM} ? 'bg-warning' : 'bg-danger')"
                                                  th:text="${task.priority.getDisplayName()}"></span>
                                            <h5 class="mt-2 mb-2">
                                                <a href="#"
                                                   class="text-body" th:text="${task.title}"></a>
                                            </h5>

                                            <p class="mb-0">
                                                        <span class="pe-2 text-nowrap mb-2 d-inline-block">
                                                            <i class="mdi mdi-briefcase-outline text-muted"></i>
                                                            iOS
                                                        </span>
                                                <span class="text-nowrap mb-2 d-inline-block">
                                                            <i class="mdi mdi-comment-multiple-outline text-muted"></i>
                                                            <b>74</b> Comments
                                                        </span>
                                            </p>
                                            <ul class="list-group list-group-flush" th:if="${task.subtasks.size()>0}">
                                                <li class="list-group-item p-1" th:with="percent=${(task.isDone*100)/(task.subtasks.size())}">
                                                    <!-- project progress-->
                                                    <p class="mb-2 fw-bold">Tiến độ <span class="float-end" th:text="${percent+'%'}">100%</span></p>
                                                    <div class="progress progress-sm" bis_skin_checked="1">
                                                        <div class="progress-bar" role="progressbar" th:aria-valuenow="${percent}" aria-valuemin="0" aria-valuemax="100" th:style="${'width:'+percent+'%'}" bis_skin_checked="1">
                                                        </div><!-- /.progress-bar -->
                                                    </div><!-- /.progress -->
                                                </li>
                                            </ul>

                                            <div class="dropdown float-end">
                                                <a href="#" class="dropdown-toggle text-muted arrow-none"
                                                   data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="mdi mdi-dots-vertical font-18"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-pencil me-1"></i>Edit</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-delete me-1"></i>Delete</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-plus-circle-outline me-1"></i>Add People</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-exit-to-app me-1"></i>Leave</a>
                                                </div>
                                            </div>

                                            <!--                                            <span class="align-middle">Robert Carlile</span>-->
                                            </p>
                                            <p class="mb-0">
                                                <img th:each="person: ${task.users}"
                                                     th:src="@{/images/users/__${person.avatar}__}"
                                                     th:title="${person.name}"
                                                     th:alt="${person.avatar}" class="avatar-xs rounded-circle me-1">
                                        </div> <!-- end card-body -->
                                    </div>
                                    <!-- Task Item End -->

                                </div> <!-- end company-list-2-->
                            </div>


                            <div class="tasks">
                                <h5 class="mt-0 task-header text-uppercase">Review</h5>
                                <div id="task-list-three" class="task-list-items">

                                    <!-- Task Item -->
                                    <div th:data-task-id="${task.id}" th:each="task: ${tasks}"
                                         th:if="${task.state == state.REVIEW}"
                                         class="card mb-0">
                                        <div class="card-body p-3">
                                            <small class="float-end text-muted"
                                                   th:text="${#dates.format(task.dueDate, 'HH:mm dd/MM/yyyy')}"></small>
                                            <span class="badge"
                                                  th:classappend="${task.priority == priority.LOW} ? 'bg-success' : (${task.priority == priority.MEDIUM} ? 'bg-warning' : 'bg-danger')"
                                                  th:text="${task.priority.getDisplayName()}"></span>
                                            <h5 class="mt-2 mb-2">
                                                <a href="#"
                                                   class="text-body" th:text="${task.title}"></a>
                                            </h5>

                                            <p class="mb-0">
                                                        <span class="pe-2 text-nowrap mb-2 d-inline-block">
                                                            <i class="mdi mdi-briefcase-outline text-muted"></i>
                                                            iOS
                                                        </span>
                                                <span class="text-nowrap mb-2 d-inline-block">
                                                            <i class="mdi mdi-comment-multiple-outline text-muted"></i>
                                                            <b>74</b> Comments
                                                        </span>
                                            </p>
                                            <ul class="list-group list-group-flush" th:if="${task.subtasks.size()>0}">
                                                <li class="list-group-item p-1" th:with="percent=${(task.isDone*100)/(task.subtasks.size())}">
                                                    <!-- project progress-->
                                                    <p class="mb-2 fw-bold">Tiến độ <span class="float-end" th:text="${percent+'%'}">100%</span></p>
                                                    <div class="progress progress-sm" bis_skin_checked="1">
                                                        <div class="progress-bar" role="progressbar" th:aria-valuenow="${percent}" aria-valuemin="0" aria-valuemax="100" th:style="${'width:'+percent+'%'}" bis_skin_checked="1">
                                                        </div><!-- /.progress-bar -->
                                                    </div><!-- /.progress -->
                                                </li>
                                            </ul>

                                            <div class="dropdown float-end">
                                                <a href="#" class="dropdown-toggle text-muted arrow-none"
                                                   data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="mdi mdi-dots-vertical font-18"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-pencil me-1"></i>Edit</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-delete me-1"></i>Delete</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-plus-circle-outline me-1"></i>Add People</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-exit-to-app me-1"></i>Leave</a>
                                                </div>
                                            </div>

                                            <!--                                            <span class="align-middle">Robert Carlile</span>-->
                                            </p>
                                            <p class="mb-0">
                                                <img th:each="person: ${task.users}"
                                                     th:src="@{/images/users/__${person.avatar}__}"
                                                     th:title="${person.name}"
                                                     th:alt="${person.avatar}" class="avatar-xs rounded-circle me-1">
                                        </div> <!-- end card-body -->
                                    </div>
                                    <!-- Task Item End -->

                                </div> <!-- end company-list-3-->
                            </div>

                            <div class="tasks">
                                <h5 class="mt-0 task-header text-uppercase">Done (1)</h5>
                                <div id="task-list-four" class="task-list-items">

                                    <!-- Task Item -->
                                    <div th:data-task-id="${task.id}" th:each="task: ${tasks}"
                                         th:if="${task.state == state.DONE}" class="card mb-0">
                                        <div class="card-body p-3">
                                            <small class="float-end text-muted"
                                                   th:text="${#dates.format(task.dueDate, 'HH:mm dd/MM/yyyy')}"></small>
                                            <span class="badge"
                                                  th:classappend="${task.priority == priority.LOW} ? 'bg-success' : (${task.priority == priority.MEDIUM} ? 'bg-warning' : 'bg-danger')"
                                                  th:text="${task.priority.getDisplayName()}"></span>
                                            <h5 class="mt-2 mb-2">
                                                <a href="#"
                                                   class="text-body" th:text="${task.title}"></a>
                                            </h5>

                                            <p class="mb-0">
                                                        <span class="pe-2 text-nowrap mb-2 d-inline-block">
                                                            <i class="mdi mdi-briefcase-outline text-muted"></i>
                                                            iOS
                                                        </span>
                                                <span class="text-nowrap mb-2 d-inline-block">
                                                            <i class="mdi mdi-comment-multiple-outline text-muted"></i>
                                                            <b>74</b> Comments
                                                        </span>
                                            </p>
                                            <ul class="list-group list-group-flush" th:if="${task.subtasks.size()>0}">
                                                <li class="list-group-item p-1" th:with="percent=${(task.isDone*100)/(task.subtasks.size())}">
                                                    <!-- project progress-->
                                                    <p class="mb-2 fw-bold">Tiến độ <span class="float-end" th:text="${percent+'%'}">100%</span></p>
                                                    <div class="progress progress-sm" bis_skin_checked="1">
                                                        <div class="progress-bar" role="progressbar" th:aria-valuenow="${percent}" aria-valuemin="0" aria-valuemax="100" th:style="${'width:'+percent+'%'}" bis_skin_checked="1">
                                                        </div><!-- /.progress-bar -->
                                                    </div><!-- /.progress -->
                                                </li>
                                            </ul>

                                            <div class="dropdown float-end">
                                                <a href="#" class="dropdown-toggle text-muted arrow-none"
                                                   data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="mdi mdi-dots-vertical font-18"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-pencil me-1"></i>Edit</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-delete me-1"></i>Delete</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-plus-circle-outline me-1"></i>Add People</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-exit-to-app me-1"></i>Leave</a>
                                                </div>
                                            </div>

                                            <!--                                            <span class="align-middle">Robert Carlile</span>-->
                                            </p>
                                            <p class="mb-0">
                                                <img th:each="person: ${task.users}"
                                                     th:src="@{/images/users/__${person.avatar}__}"
                                                     th:title="${person.name}"
                                                     th:alt="${person.avatar}" class="avatar-xs rounded-circle me-1">
                                        </div> <!-- end card-body -->
                                    </div>
                                    <!-- Task Item End -->

                                </div> <!-- end company-list-4-->
                            </div>
                            <div class="tasks">
                                <h5 class="mt-0 task-header text-uppercase">SAVED (1)</h5>
                                <div id="task-list-five" class="task-list-items">

                                    <!-- Task Item -->
                                    <div th:data-task-id="${task.id}" th:each="task: ${tasks}"
                                         th:if="${task.state == state.SAVED}"
                                         class="card mb-0">
                                        <div class="card-body p-3">
                                            <small class="float-end text-muted"
                                                   th:text="${#dates.format(task.dueDate, 'HH:mm dd/MM/yyyy')}"></small>
                                            <span class="badge"
                                                  th:classappend="${task.priority == priority.LOW} ? 'bg-success' : (${task.priority == priority.MEDIUM} ? 'bg-warning' : 'bg-danger')"
                                                  th:text="${task.priority.getDisplayName()}"></span>
                                            <h5 class="mt-2 mb-2">
                                                <a href="#"
                                                   class="text-body" th:text="${task.title}"></a>
                                            </h5>

                                            <p class="mb-0">
                                                        <span class="pe-2 text-nowrap mb-2 d-inline-block">
                                                            <i class="mdi mdi-briefcase-outline text-muted"></i>
                                                            iOS
                                                        </span>
                                                <span class="text-nowrap mb-2 d-inline-block">
                                                            <i class="mdi mdi-comment-multiple-outline text-muted"></i>
                                                            <b>74</b> Comments
                                                        </span>
                                            </p>
                                            <ul class="list-group list-group-flush" th:if="${task.subtasks.size()>0}">
                                                <li class="list-group-item p-1" th:with="percent=${(task.isDone*100)/(task.subtasks.size())}">
                                                    <!-- project progress-->
                                                    <p class="mb-2 fw-bold">Tiến độ <span class="float-end" th:text="${percent+'%'}">100%</span></p>
                                                    <div class="progress progress-sm" bis_skin_checked="1">
                                                        <div class="progress-bar" role="progressbar" th:aria-valuenow="${percent}" aria-valuemin="0" aria-valuemax="100" th:style="${'width:'+percent+'%'}" bis_skin_checked="1">
                                                        </div><!-- /.progress-bar -->
                                                    </div><!-- /.progress -->
                                                </li>
                                            </ul>

                                            <div class="dropdown float-end">
                                                <a href="#" class="dropdown-toggle text-muted arrow-none"
                                                   data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="mdi mdi-dots-vertical font-18"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-pencil me-1"></i>Edit</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-delete me-1"></i>Delete</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-plus-circle-outline me-1"></i>Add People</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="mdi mdi-exit-to-app me-1"></i>Leave</a>
                                                </div>
                                            </div>

                                            <!--                                            <span class="align-middle">Robert Carlile</span>-->
                                            </p>
                                            <p class="mb-0">
                                                <img th:each="person: ${task.users}"
                                                     th:src="@{/images/users/__${person.avatar}__}"
                                                     th:title="${person.name}"
                                                     th:alt="${person.avatar}" class="avatar-xs rounded-circle me-1">
                                        </div> <!-- end card-body -->
                                    </div>
                                    <!-- Task Item End -->

                                </div> <!-- end company-list-4-->
                            </div>

                        </div> <!-- end .board-->
                    </div> <!-- end col -->
                </div>
                <!-- end row-->

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <footer th:replace="shared/_footer :: footer"></footer>
        <div class="rightbar-overlay"></div>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->


<!-- Right Sidebar -->
<div th:replace="shared/_right-side :: rightside-menu">
</div>
<!-- /End-bar -->
<!--  Add new task modal -->
<div th:replace="_task-create :: _task-create"></div>
<!-- /.modal -->

<!--  Task details modal -->
<div class="modal fade task-modal-content" id="task-detail-modal" tabindex="-1" role="dialog"
     aria-labelledby="TaskDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <!--    Task detail here-->

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div th:replace="shared/_script :: script"></div>
<script th:src="@{/js/app/task.js}"></script>
</body>
</html>
