<div th:fragment="leftside-menu" class="leftside-menu">
    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img th:src="@{/images/logo.png}" alt="" height="16">
                    </span>
        <span class="logo-sm">
                        <img th:src="@{images/logo_sm.png}" alt="" height="16">
                    </span>
    </a>

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-dark">
                    <span class="logo-lg">
                        <img th:src="@{images/logo-dark.png}" alt="" height="16">
                    </span>
        <span class="logo-sm">
                        <img th:src="@{mages/logo_sm_dark.png}" alt="" height="16">
                    </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar="">

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item">Navigation</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false"
                   aria-controls="sidebarDashboards" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span class="badge bg-success float-end">4</span><span> Trang chủ </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Task" class="side-nav-link">
                    <i class="uil-calender"></i>
                    <span> Quản lý công việc </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/meeting" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Quản lý cuộc họp </span>
                </a>
            </li>


            <li class="side-nav-item">
                <a href="/user/list" class="side-nav-link">
                    <i class="uil-store"></i>
                    <span> Quản lý người dùng </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false" aria-controls="sidebarEmail"
                   class="side-nav-link">
                    <i class="uil-envelope"></i>
                    <span> Phân quyền </span>
                </a>

            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarProjects" aria-expanded="false"
                   aria-controls="sidebarProjects" class="side-nav-link">
                    <i class="uil-briefcase"></i>
                    <span> Quản lý email </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="apps-social-feed.html" class="side-nav-link">
                    <i class="uil-rss"></i>
                    <span> Quản lý nhóm </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks"
                   class="side-nav-link">
                    <i class="uil-clipboard-alt"></i>
                    <span> Đổi mật khẩu </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/logout" class="side-nav-link">
                    <form th:action="@{/logout}" method="post">
                        <i class="uil-location"></i>
                        <span type="submit">Đăng xuất</span>
                    </form>
                </a>
            </li>

        </ul>



        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->
</div>
