<div th:fragment="script">
    <!--    jquery-->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jquery.validate.js}"></script>
    <script th:src="@{/js/additional-methods.js}"></script>
    <!-- bundle -->
    <script th:src="@{/js/vendor.min.js}"></script>
    <script th:src="@{/js/app.min.js}"></script>
    <!-- dragula js-->
    <script th:src="@{/js/vendor/dragula.min.js}"></script>
    <!-- demo js -->
    <script th:src="@{/js/ui/component.dragula.js}"></script>
    <!--    app js-->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/ui/component.todo.js}"></script>
    <!-- bundle -->
	<script th:src="@{/js/vendor/fullcalendar.min.js}"></script>
    <script th:src="@{/js/app/meeting.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<!--    Websocket-->
    <script th:src="@{/js/vendor/sockjs-client.min.js}"></script>
    <script th:src="@{/js/vendor/stomp.min.js}"></script>
    <script th:src="@{/js/app/notification.js}"></script>
<!--    <script th:src="@{/js/app/chat.js}"></script>-->
</div>